.messages {
  overflow-y: scroll;
  height: 700px;
  padding-right: 40px;
}

.message {
  display: flex;
  align-items: center;

  margin-left: 40px;
  margin-top: 40px;
}

.message.message-left {
  justify-content: flex-start;
}

.message.message-right {
  justify-content: flex-end;
}

.userMessage {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  min-width: 30%;
}

.reverse {
  flex-direction: row-reverse;
}

.userMessage img {
  width: 60px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.negativeImg {
  margin-top: -40px;
}

.userContent {
  width: 100%;
}

.chat_date {
  font-size: 12px;
}

.titleContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContent #user {
  font-size: 19px;
  margin-right: 12px;
}

.metadata {
  font-weight: 300;
  padding: 0 0 0 7px;
  margin-bottom: 0px;
  color: #ffffff;
}

.messageContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 4px;
  border-radius: 10px;
}

.messageContent.ballon-left {
  background-color: #454556;
  border: 1px solid #454556;
}

.messageContent.ballon-right {
  background-color: #0f90ff;
  border: 1px solid #0f90ff;
}

.text {
  color: #ffffff;
  font-weight: bold;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  margin: 8px 0 8px 5px;
  max-width: 85%;
  word-wrap: break-word;
}

.buttonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  margin-left: 20px;
  margin-top: 10px;
  transition: all 2s ease-in;
}

.buttonContainer .msg_edit_btn {
  background: #3fb73f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
  margin-right: 15px;
}

.buttonContainer .msg_delete_btn {
  background: #FA5858 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
}
